@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(156, 101, 208);
    height: 100vh;
    overflow: hidden;
}
.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color:#ffff;
    border:0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
}

.btn{
    background-color: #ffff;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.5 ease;

}
.btn img{
    height: 47px;
    width: 43px;
    /* border: 3px black solid; */
}

.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform:translateX(202px)
}